.main {
    position: relative;
    padding: 1rem;
    z-index: 1;
    .about {
        color: red;
    }
    .projects {
        color: lime;
    }
    .blog {
        color: purple;
    }
    .contact {
        color: yellow;
    }
    p {
        color: white;
    }
}