html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::shadow {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Source Code Pro', monospace;
}


