@import "outerspace";

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #f5f5f5, $alpha: 1.0);

    box-sizing: border-box;
    padding: 2rem ;
    z-index: 1;

    .big-button {
        width: 40%;
        height: 20%;
        border-radius: 1rem;
        font-weight: 500;
        font-size: $font-big;
        cursor: pointer;
        z-index: 1;
        &#about {
            @include glow-border(red)
        }
        &#projects {
            @include glow-border(lime)
        }
        &#blog {
            @include glow-border(purple)
        }
        &#contact {
            @include glow-border(yellow)
        }
    }
}

